[submodule "ruby/puppet"]
	path = ruby/puppet
	url = https://github.com/jsane/puppet.git
	branch = task/master/PUP-8021_Puppet_should_support_all_FIPS_approved_hash_algs
[submodule "ruby/facter"]
	path = ruby/facter
	url = https://github.com/puppetlabs/facter.git
[submodule "ruby/hiera"]
	path = ruby/hiera
	url = https://github.com/puppetlabs/hiera.git
